<h1 class="title">List of products (Socket)</h1>

<div class="socket-container">
    <div class="add-product-form">
        <h2>Add New Product</h2>
        <form method="post" id="productForm">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" step="0.01" required>
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" required>
            <label for="code">Code:</label>
            <input type="text" id="code" name="code" required>
            <label for="thumbnail">Thumbnail:</label>
            <input type="text" id="thumbnails" name="thumbnails">
            <button type="submit" class="button">Add Product</button>
        </form>
    </div>

    {{#if (eq result.status 'success')}}
    <div class="product-container">
        {{#each result.payload}}
        <div class="product" id="product-{{_id}}">
            {{#if this.thumbnails}}
                {{#if (first this.thumbnails)}}
                    <img src="{{first this.thumbnails}}" alt="Product thumbnail" />
                {{/if}}
            {{/if}}
            <p>Name: <span>{{this.title}}</span></h2>
            <p>Price: <span>{{this.price}}</span></p>
            <a href="/products/{{this._id}}" class="button">View Details</a>
            <button class="delete-button" data-product-id="{{this._id}}">Delete</button>
        </div>
        {{/each}}
    </div>
    <div class="pagination">
        <span class="page">{{result.page}}</span>
        {{#if result.hasNextPage}}
            <a href={{result.nextLink}}>Next page</a>
        {{/if}}
        {{#if result.hasPrevPage}}
            <a href={{result.prevLink}}>Previous page</a>
        {{/if}}
    </div>
    {{else}}
    <p>No products found</p>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>